
.buttons-cont{
    display: flex;
    justify-content: space-around;
}
.name-gender-cont{
    display: flex;
    justify-content: space-between;

}
.male {
    background-color: rgb(13, 158, 158);
    width: 3vw;
    height: 5vh;
    border: none;
    outline: none;
    touch-action: none;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}
.all-buttons{
    display:flex;
    flex-direction: column;
}
.edit-button{
    align-self: center;
    margin-top: 10px;
    background-color:#62be4a;
    color: azure;
    width: 30vh;
    margin-top: 20px;
    height: 5vh;
    border: 0px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.expand-button{
    align-self: center;
    margin-top: 10px;
    background-color:#da8516;
    color: azure;
    width: 30vh;
    margin-top: 20px;
    height: 5vh;
    border: 0px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.promote-button{
    align-self: center;
    margin-top: 10px;
    background-color:#165bda;
    color: azure;
    width: 30vh;
    margin-top: 20px;
    height: 5vh;
    border: 0px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.delete-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button{
    background-color:#d11a2a;
    color: azure;
    width: 30vh;
    margin-top: 20px;
    height: 5vh;
    border: 0px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
} 