<div class="employees-container">
  <div>
    <a class="btn" routerLink="add"><button class="add-btn">ADD NEW EMP</button></a>
  </div>

<h2 class="title">Employee Details</h2>
<label for="Filter" class="filter-check"> FILTERS</label>
<input type="checkbox" name="Filter" id="Filter"/>
<div class="filter-buttons">
  <button class="filter-btn" (click)="handleSEO()">SEO</button>
  <button class="filter-btn" (click)="handleMERN()">Mean Stack Dev.</button>
  <button class="filter-btn" (click)="handleFreeLancer()">Freelancer</button>
  <button class="filter-btn" (click)="handleCTO()">CTO</button>
  <button class="filter-btn" (click)="handleFullStack()">Full Stack Dev.</button>
  <button class="filter-btn" (click)="handleNodeJs()">Node JS Dev.</button>
  <button class="filter-btn" (click)="handleDesigner()">Designer</button>
  <button class="filter-btn" (click)="handlePHP()">PHP Dev.</button>
  <button class="filter-btn" (click)="handleCEO()">CEO</button>
</div>
<div class="posts-container">
    <p [ngStyle]="notFoundStyle()"
    *ngIf="employees.length === 0; else lessPosts">No record found</p>
    <ng-template #lessPosts>
        <app-each-employee
        *ngFor="let emp of employees;index as i;first as first; last as last; odd as odd; even as even"
        [ngClass]="even ? 'even-cont': 'odd-cont'"
        [emp]="emp"
        (empDelete)="handleDeleteEmp($event)"
        (empAdd)="handleAddEmp($event)"
        [first]="first"
        [last]="last"
        [index]="i"
        ></app-each-employee>
    </ng-template>
</div> 
